body, html {
  height: 100%;
  font-family: 'work sans';
  background-color: white
}

/* general */

h1 {
  font-size: 5em;
  font-weight: 600
}

h2 {
  font-size: 2em;
  padding: 4%;
  font-weight: 600;
}

h3 {
  font-size: 1.7em;
  margin-top: 2%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Joined Popup window */
.j-popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18%;
  display: none;
}

.j-popup-content {
  width: 80%;
  height: 80%;
  background-color: #1aa3ad;
  background-image: url(../images/joined.jpg);
  background-size: 100% 100%;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.j-popup-content img {
  width: 100%;
}

.j-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.j-icon1 {
  cursor: pointer;
}

.j-icon2 {
  cursor: pointer;
}

/* Participants Popup window */
.p-popup {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18%;
  display: none;
}

.p-popup-content {
  width: 80%;
  height: 80%;
  background-color: #1aa3ad;
  background-image: url(../images/participants.jpg);
  background-size: 100% 100%;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.p-popup-content img {
  width: 100%;
}

.p-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.p-icon1 {
  cursor: pointer;
}

.p-icon2 {
  cursor: pointer;
}

/* general slut */

/* header*/

header {
  width: 100%;
  background-color: white;
}

.headericon {
  max-width: 17%;
  margin-left: auto;
}

header h1 {
  margin-right: auto;
  padding: 5% 2%
}

.headercontainer {
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  margin: auto;
  vertical-align: middle
}

/* header slut */

/* footer */

footer {
  background-color: white;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: ;
  text-align: center;
}

.ficon {
  max-width: 17%;
  vertical-align: middle;
}

/* footer slut */

/* home */

.yellow {
  background: none;
  color: #f9bb12;
}

.event1 {
  background-color: lightblue;
  background-image: url(../images/image-quiz.jpg);
  background-position: center;
  border-radius: 10px;
  margin: 3%;
  padding: 2%;
  height: 20%;
  font-weight: 600;
  color: #22464a;
}

.event2 {
  background-color: lightblue;
  background-image: url(../images/image-game.jpg);
  background-position: center;
  border-radius: 10px;
  margin: 3%;
  padding: 2%;
  height: 20%;
  font-weight: 600;
  color: #22464a;
  margin-bottom: 18%;
}

.event1 img {
  width: 20%;
  margin-left: 2em;
  margin-right: 2em;
}

.event2 img {
  width: 20%;
  margin-left: 2em;
  margin-right: 2em;
}

.icon {
  margin-top: 1.4em;
  text-align: center;
}

.top-image {
  position: relative;
  top: 0;
  left: 0;
}

.image1 {
  position: relative;
  width: 100%;
}

.image2 {
  position: absolute;
  top: 30%;
  left: 0px;
  bottom: 0px;
  right: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#q-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 10%;
  cursor: pointer;
}

/* Pop up box */

.info {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  margin-bottom: 18%;
}

.info-content {
  width: 80%;
  height: 80%;
  background-color: #1aa3ad;
  border-radius: 4px;
  padding: 20px;
  position: relative;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.info-header {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.yellow-heading {
  background: none;
  color: #f9bb12;
  font-weight: 600;
}

table {
  margin-top: 10%;
  border-collapse: separate;
  border-spacing: 0 15px;
}

.table-image {
  width: 20%;
  padding: 2%;
  vertical-align: middle;
  border-radius: 10px 0px 0px 10px;
}

.table-text {
  width: 70%;
  padding: 2%;
  vertical-align: middle;
  border-radius: 0px 10px 10px 0px;
}

tr {
  background-color: white;
}

/* home slut */

/* events */
.eventblok {height: 38.5%; font-weight: 600}
.eventblok img {width:22%;margin: 0% 5% 2% 5%}

.eventblok h2 {font-size: 6em; padding: 1% 0% 0% 4%; margin-bottom: 25%}
.eventblok h3 {font-size: 3em; padding: 4% 0% 0% 4%;margin:0%}
#quiznight {background-image:url(../images/image-quiz2.jpg);
    background-position: center;}
#gamenight {background-image:url(../images/image-game2.jpg);
    background-position: center;}
.afstand {padding-bottom: 17%}
/* events slut */



/* hangouts */
.hangoutblok {height: 38.5%; font-weight: 600}
.hangoutblok img {width:22%;margin: 0% 5% 2% 5%}

.hangoutblok h2 {font-size: 6em; padding: 1% 0% 0% 4%;margin-bottom: 25%}
.hangoutblok h3 {font-size: 3em; padding: 4% 0% 0% 4%;margin:0%}
#cooktogether {background-image:url(../images/cooktogetherimage.jpg);
    background-position: center;}
#boardgames {background-image:url(../images/Boardgameimage.jpg);
    background-position: center;}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
    white-space: nowrap;}

/* hangouts slut */



/* keycard */
#keycard {width:100%;}
.keycardbackground {background-color: #1aa3ad}

/* keycard slut */



/* profile */
.profile {
  height: 80%;
  background-image: url(../images/profile-background.png);
  background-position: center;
  color: white;
}

.profile-image {
  width: 120%;
  padding: 8%;
  padding-left: 30%;
  padding-top: 50%;
}

.profile-text {
  padding-left: 20%;
  padding-top: 8%;
  margin-top: 2em;
  padding-bottom: 8%;
}

.profile-heading {
  width: 70%;
  margin-bottom: 5%;
}

.profile-text p {
  padding-bottom: 2%;
  font-size: 2em;
}

.profile-info {
  display: flex;
  padding-bottom: 10%;
font-size:1.4em; font-weight: 600;}

.profile-button h3 {font-weight: 600; font-size:3em}

.profile-button {
  background-color: #1aa3ad;
  border-radius: 10px;
  padding: 6%;
  margin-bottom: 8%;
  margin-right: 15%;
  margin-left: 15%;
  text-align: center;
}


/* profile slut */


.swiper-container {width: 100%; height: 100%;}
.swiper-slide {height:100%; width:100% }
.swiper-slide p {margin:80%; font-size:1px}
#eventsheader {height:100px; background-color: white opacity 0.8;}
#eventsheader h1{font-size: 2em; padding:10% 2%; margin-right: auto;}
#event1{height:100%;width:100%; background-image:url(../images/quiz-night.jpg);background-size: 100% 100%;}
#event2{height:100%;width:100%; background-image:url(../images/hallo-game-night.jpg); background-size:100% 100%;}
#event3{height:100%;width:100%; background-image:url(../images/quiz-night.jpg);background-size: 100% 100%;}
a {text-decoration: none; color:black}
/* events fullscreen slut  */

/* hangouts fullscreen */
#hangout1{height:100%;width:100%; background-image:url(../images/hallo-cook-together.jpg);background-size: 100% 100%;}
#hangout2{height:100%;width:100%; background-image:url(../images/hallo-boardgames.jpg); background-size:100% 100%;}
#hangout3{height:100%;width:100%; background-image:url(../images/hallo-cook-together.jpg);background-size: 100% 100%;}
a {text-decoration: none; color:black}
/* hangouts fullscreen slut */